<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Adistec Portal (Password Reset)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans');</style>
	<style type="text/css">
		/* CLIENT-SPECIFIC STYLES */
		body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
		table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
		img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

		/* RESET STYLES */
		img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}
		table{border-collapse: collapse !important;}
		body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}

		/* iOS BLUE LINKS */
		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
		}

		/* MOBILE STYLES */
		@media screen and (max-width: 525px) {

			/* ALLOWS FOR FLUID TABLES */
			.wrapper {
				width: 100% !important;
				max-width: 100% !important;
			}

			/* ADJUSTS LAYOUT OF LOGO IMAGE */
			.logo img {
				margin: 0 auto !important;
			}

			/* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
			.mobile-hide {
				display: none !important;
			}

			.img-max {
				max-width: 100% !important;
				width: 100% !important;
				height: auto !important;
			}

			/* FULL-WIDTH TABLES */
			.responsive-table {
				width: 100% !important;
			}

			/* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
			.padding {
				padding: 10px 5% 15px 5% !important;
			}

			.padding-meta {
				padding: 30px 5% 0px 5% !important;
				text-align: center;
			}

			.padding-copy {
				padding: 10px 5% 10px 5% !important;
				text-align: center;
			}

			.no-padding {
				padding: 0 !important;
			}

			.section-padding {
				padding: 50px 15px 50px 15px !important;
			}

			/* ADJUST BUTTONS ON MOBILE */
			.mobile-button-container {
				margin: 0 auto;
				width: 100% !important;
			}

			.mobile-button {
				padding: 15px !important;
				border: 0 !important;
				font-size: 16px !important;
				display: block !important;
			}

		}

		/* ANDROID CENTER FIX */
		div[style*="margin: 16px 0;"] { margin: 0 !important; }
		
		html,body{
			height:100%;
		}
	</style>
</head>
<body style="margin: 0 !important; padding: 0 !important; background-color:#ececec; height:100%;">

<!-- HIDDEN PREHEADER TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
	Adistec Portal | Password Reset instructions
</div>

<table cellpadding="30" style="width: 100%; background-color: #ececec;">
    <tbody>
    <tr>
        <td><center>
            <font face="Open Sans, Arial, Helvetica, sans-serif;">
                <table cellspacing="0" style="font-family:Open Sans, Arial, Helvetica, sans-serif; width: 795px; height:514px; background-color: #FFFFFF;" cellpadding="60">
                    <tbody>
                    <tr>
                        <td align="left" valign="top">
							<table cellpadding="0" cellspacing="0" border="0"><tr><td>
							<img th:src="|cid:${blueLogo}|" width="150px" />
							</td></tr>
							<tr>
							<td height="15px"></td>
							</tr></table>
                            <h1 style="color: #004a98; font-size: 25px; font-weight:900;">Password Reset instructions</h1>
                            <div>
                                <table cellpadding="0" cellspacing="0" height="10px" border="0"><tr><td></td></tr></table>
                                <p style="color: #004a98; font-size:14px; line-height:24px;">A password reset has been requested for this account. In order to proceed, please click on the following link:</p>
								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td align="center">
											<!-- BULLETPROOF BUTTON -->
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center" style="padding-top: 25px;" class="padding">
														<table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
															<tr>
																<td align="center" style="-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;" bgcolor="#005894"><a th:href="@{${appUrl} + 'newPassword?username=' + ${username} + '&amp;recoverHash=' + ${hash}}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; -webkit-border-radius: 50px; -moz-border-radius: 50px;border-radius: 50px; padding: 15px 25px; border: 1px solid #256F9C; display: inline-block;" class="mobile-button">Reset my password</a></td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr><td height="20px"></td></tr>
								</table>
								<p style="color: #004a98; font-size:14px; line-height:24px;">Alternatively you can click on, or copy and paste the following URL in your web browser's address bar:<br />
								<a href="#" style="color: #298eff; font-size:14px; "><strong><span th:text="@{${appUrl} + 'newPassword?username=' + ${username} + '&amp;recoverHash=' + ${hash}}"></span></strong></a></p>								
								<table cellpadding="0" cellspacing="0" height="40px" border="0" style="width: 100%;"><tr><td style="padding-bottom: 25px; border-bottom: 1px dashed #aaaaaa;"></td></tr></table>								
                                <p style="color: #004a98; font-size:14px; margin-top:25px; margin-bottom:0px;"><strong style="font-weight:900">Adistec Portal</strong></p>
								<p style="color: #004a98; font-size:12px; margin-bottom:0px;">Copyright © 2018 Adistec Corp. All rights reserved. You are receiving this email because your address is registered with administration privileges inside our portal.</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </font></center></td>
    </tr>
    </tbody>
</table>
</body>
</html>